*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: $font;
  color: $maincolor;
  font-size: $fontSize;
}
.wrapper{
  width: 90%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
// navbar
.fa-chevron-down{
  margin-left: 5px;
}
.google{
  margin-right: 5px;
  padding-top: 5px;
}

.solutions{
  position: relative;
}
.drop_down{
  position: absolute;
  display: none;
  top: 10;
}

// jumbotron
.slack{
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
