@mixin floatLeftElement {
  float: left;
}
@mixin floatRightElement{
  float: right;
}
@mixin buttonElement{
  padding: 5px 15px;
  line-height: 40px;
  color: #233569;
  border-radius: 10px;
  border: 1px solid $maincolor;
}
@mixin clearfix{
  content: "";
  clear: both;
  display: table;
}
