@mixin floatLeftElement {
  float: left;
}
@mixin floatRightElement{
  float: right;
}
@mixin btn{
  width: 70px;
  padding: 10px;
  display: inline-block;
  color: #30488F;
  border-radius: 10px;
  border: 1px solid $maincolor;
}
@mixin clearfix{
  content: "";
  clear: both;
  display: table;
}
