@mixin floatLeftElement {
  float: left;
}
@mixin floatRightElement{
  float: right;
}
@mixin buttonElement{
  padding: 0 15px;
  line-height: 40px;
  color: #233569;
  border-radius: 10px;
  border: 1px solid #30488F;
}
@mixin clearfix{
  content: "";
  clear: both;
  display: table;
}
@mixin buttonJumbotron{
 padding: 0 15px;
 line-height: 30px;
 text-align: center;
 vertical-align: middle;
 border-radius: 10px;
 border: 1px solid black;
 color: white;
 background-color: #2F488F;
}
